* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: 'Nunito', sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.container {
	width: 90%;
	margin: 0 auto;
}
